{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Profile {% endblock %}

{% block vendor_css %}
{{ block.super }}
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
{{ block.super }}
{% endblock page_css %}

{% block page_js %}
{{ block.super }}
<script>
  var toastElements = document.querySelectorAll('.toast');

if (toastElements) {
toastElements.forEach(function (element) {
  var toast = new bootstrap.Toast(element);
  toast.show();
});
}

</script>
{% endblock page_js %}

{% block content %}

{% if messages %}
<div class="toast-container end-0 m-1 me-4">
  {% for message in messages %}
  <div class="toast {% if message.tags == 'success' %}bg-success{% elif message.tags == 'error' %}bg-danger{% else %}bg-warning{% endif %}" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-bs-delay="2000">
    <div class="toast-body text-center text-white">
      {{ message }}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">{% translate "Profile" %} /</span> {% translate "Edit" %} {% translate "Profile" %}
</h4>
<div class="card">

  <div class="card-body mt-4">
    <form
      class="add-transactions pt-0"
      id="addTransactionForm"
      action=""
      method="post"
    >
      {% csrf_token %}

      <div class="form-floating form-floating-outline mb-4">
        {{admin_form.first_name}}
        <label for="first_name">{% translate 'First Name' %}</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        {{admin_form.last_name}}
        <label for="first_name">{% translate 'Last Name' %}</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        {{admin_form.username}}
        <label for="first_name">{% translate 'Username' %}</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        {{admin_form.email}}
        <label for="first_name">{% translate 'Email' %}</label>
      </div>
      <div class="form-floating form-floating-outline mb-4">
        {{admin_form.phone_number}}
        <label for="first_name">{% translate 'Phone Number' %}</label>
      </div>
      <div>
        <button
          type="submit"
          class="btn btn-primary me-sm-3 me-1"
          name="submitButton"
        >
          {% translate 'Submit'%}
        </button>
        <a href="{% url 'admin_profile' %}" class="btn btn-primary me-sm-3 me-1"
        >{% trans 'Back' %}</a
      >
      </div>
</form>
</div>
</div>

 {% endblock %}